/*  html5doctor.com Reset Stylesheet v1.6.1
    Last Updated: 2010-09-17
    Author: Richard Clark - http: /richclarkdesign.com */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

mark {
  background-color: #dddddd;
  color: #222222;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 62.5% "Open Sans", Tahoma, sans-serif;
  color: #dddddd;
  text-align: center;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/51/Sunrise_thailand_ko_samui.jpg");
  background-size: cover; }

h1 {
  font-size: 2em;
  text-transform: uppercase; }

#wrapper {
  margin: 10px auto;
  padding: 10px;
  width: 960px;
  font-size: 1.4em;
  background: rgba(34, 34, 34, 0.5);
  border-radius: 10px; }

#login-btn {
  margin: 20px 0;
  padding: 10px;
  color: #dddddd;
  background: #3b5998;
  font-size: 1.4em;
  font-weight: bold;
  border: 1px solid #1e2e4f;
  border-radius: 6px;
  -webkit-transition: background .5s ease, border .5s ease;
  -moz-transition: background .5s ease, border .5s ease;
  -o-transition: background .5s ease, border .5s ease;
  transition: background .5s ease, border .5s ease; }
  #login-btn:hover {
    -webkit-transition: background .5s ease, border .5s ease;
    -moz-transition: background .5s ease, border .5s ease;
    -o-transition: background .5s ease, border .5s ease;
    transition: background .5s ease, border .5s ease;
    cursor: pointer;
    background: #2d4373;
    border-color: #3b5998; }
