@import "base";
@import "html5reset";

body {
	font: 62.5% $sans;
	color: $fg;
	text-align: center;

	background: no-repeat center center fixed;
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/5/51/Sunrise_thailand_ko_samui.jpg');
	background-size: cover;
}
a {
	@include transition("color .5s ease");
	color: $link;

	&:hover {
		@include transition("color .5s ease");
		color: $link-hover;
	}
	&:visited {
		color: $link-visit;
	}
}
h1 {
	font-size: 4em;
	// letter-spacing: 0.25em;
	text-transform: uppercase;
}
h5 {
	font-size: 1.2em;
	font-weight: normal;
}
img {
	display: inline-block;
	margin: 10px;
	text-align: left;
	max-width: 640px;
	border-radius: 6px;
}
header {
	// margin: 20px 0;
}
button {
	margin: 20px 10px;
	padding: 10px;
	color: $fg;
	background: $fb-blue;

	font-size: 1.4em;
	font-weight: bold;
	border: 1px solid darken($fb-blue, 10%);
	border-radius: 6px;

	@include transition("background .5s ease, border .5s ease");

	&:hover {
		@include transition("background .5s ease, border .5s ease");
		cursor: pointer;
		background: darken($fb-blue, 10%);

		border-color: $fb-blue;

	}
}

// CLASS //
.delay, .error {
	display: none;
	// visibility: hidden;
	width: 940px;
}
.ui-img {
	position: relative;
	float: left;
}
.main {
	max-width: 60%;
}
.secondary {
	max-width: 30%
}
.minor {
	max-width: 30%
}
.below {
	margin-bottom: 20px;
}

// ID //
#wrapper {
	margin: 10px auto;
	padding: 10px;
	width: 960px;
	font-size: 1.4em;

	background: rgba($bg, 0.6);
	border-radius: 10px;

}
#loading {
	height: 200px;
}
#trip-info {
	margin: 0 10px;
	text-align: left;
}