/*  html5doctor.com Reset Stylesheet v1.6.1
    Last Updated: 2010-09-17
    Author: Richard Clark - http: /richclarkdesign.com */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

mark {
  background-color: #dddddd;
  color: #222222;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 62.5% "Open Sans", Tahoma, sans-serif;
  color: #dddddd;
  text-align: center;
  background: #222222; }

a {
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  color: #dddddd; }
  a:hover {
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
    color: white; }
  a:visited {
    color: #dddddd; }

h1 {
  font-size: 4em;
  text-transform: uppercase; }

h5 {
  font-size: 1.2em;
  font-weight: normal; }

img {
  display: inline-block;
  margin: 10px 0;
  text-align: left;
  width: 100%;
  border-radius: 6px; }

button {
  margin: 0 4px;
  padding: 10px;
  color: #dddddd;
  background: #3b5998;
  font-size: 1.4em;
  font-weight: bold;
  border: 1px solid #2d4373;
  border-radius: 6px;
  -webkit-transition: background .5s ease, border .5s ease;
  -moz-transition: background .5s ease, border .5s ease;
  -o-transition: background .5s ease, border .5s ease;
  transition: background .5s ease, border .5s ease; }
  button:hover {
    -webkit-transition: background .5s ease, border .5s ease;
    -moz-transition: background .5s ease, border .5s ease;
    -o-transition: background .5s ease, border .5s ease;
    transition: background .5s ease, border .5s ease;
    cursor: pointer;
    background: #2d4373;
    border-color: #3b5998; }

footer {
  color: #a2a2a2; }

.error {
  display: none; }
  .error button {
    margin: 20px 10px; }

.retry {
  width: 43%; }

.delay {
  display: none;
  text-align: left; }

.hide {
  display: none; }

.ui-img {
  position: relative;
  float: left; }

.main {
  width: 65%; }

.secondary {
  left: 5%;
  width: 15%; }

.minor {
  width: 25%; }

.btn-box {
  display: inline-block;
  clear: both;
  margin: 10px 0;
  width: 100%; }

.hover {
  position: absolute;
  padding: 40px 10px 20px;
  width: 100%;
  height: 100%;
  z-index: 9;
  text-align: center;
  color: rgba(221, 221, 221, 0);
  background: rgba(34, 34, 34, 0);
  border-radius: 6px;
  -webkit-transition: background .5s ease, color .5s ease;
  -moz-transition: background .5s ease, color .5s ease;
  -o-transition: background .5s ease, color .5s ease;
  transition: background .5s ease, color .5s ease; }
  .hover:hover {
    -webkit-transition: background .5s ease, color .5s ease;
    -moz-transition: background .5s ease, color .5s ease;
    -o-transition: background .5s ease, color .5s ease;
    transition: background .5s ease, color .5s ease;
    color: #dddddd;
    background: rgba(34, 34, 34, 0.7); }

.booking {
  width: 27%; }

#wrapper {
  margin: 1% 4%;
  padding: 1%;
  width: 90%;
  font-size: 1.8em;
  background: #222222; }

#loading {
  height: 200px; }

#loc-img {
  margin-right: 20px; }

#speed-btn {
  margin-left: 0; }

#retry-btn {
  margin-right: 0; }
