@import "base";
@import "html5reset";

body {
	font: 62.5% $sans;
	color: $fg;
	text-align: center;

	background: $bg;
}
a {
	@include transition("color .5s ease");
	color: $link;

	&:hover {
		@include transition("color .5s ease");
		color: $link-hover;
	}
	&:visited {
		color: $link-visit;
	}
}
h1 {
	font-size: 4em;
	// font-family: 'Artifika';
	// letter-spacing: 0.25em;
	text-transform: uppercase;
}
h5 {
	font-size: 1.2em;
	font-weight: normal;
}
img {
	display: inline-block;
	margin: 10px 0;
	text-align: left;
	width: 100%;
	border-radius: 6px;
}
button {
	// display: block;
	// clear: both;
	margin: 0 4px;
	padding: 10px;
	color: $fg;
	background: $fb-blue;

	font-size: 1.4em;
	font-weight: bold;
	border: 1px solid darken($fb-blue, 10%);
	border-radius: 6px;

	@include transition("background .5s ease, border .5s ease");

	&:hover {
		@include transition("background .5s ease, border .5s ease");
		cursor: pointer;
		background: darken($fb-blue, 10%);

		border-color: $fb-blue;

	}
}
footer {
	color: desaturate(lighten($bg, 50%), 25%);
}

// CLASS //
.error {
	display: none;
	// width: 940px;
	button {
		margin: 20px 10px;
	}
}
.retry {
	width: 43%;
}
.delay {
	display: none;
	text-align: left;
}
.hide {
	display: none;
}
.ui-img {
	position: relative;
	float: left;
}
.main {
	width: 65%;
}
.secondary {
	left: 5%;
	width: 15%;
}
.minor {
	width: 25%;
}
.btn-box {
	display: inline-block;
	clear: both;
	margin: 10px 0;
	width: 100%;
}
.hover {
	position: absolute;
	padding: 40px 10px 20px;
	width: 100%;
	height: 100%;
	z-index: 9;
	text-align: center;
	color: rgba($fg, 0);
	background: rgba($bg, 0);
	border-radius: 6px;

	@include transition("background .5s ease, color .5s ease");

	&:hover {
		@include transition("background .5s ease, color .5s ease");
		color: $fg;
		background: rgba($bg, 0.5);
	}
}
.booking {
	width: 27%;
}

// ID //
#wrapper {
	margin: 1% 4%;
	padding: 1%;
	width: 90%;
	font-size: 1.8em;

	background: $bg;
	// border-radius: 10px;

}
#loading {
	height: 200px;
}
#loc-img {
	margin-right: 20px;
}
#speed-btn {
	margin-left: 0;
}
#retry-btn {
	margin-right: 0;
}